{% assign title = section.settings.title %}
{% assign image = section.settings.image %}
{% assign cta_label = section.settings.cta_label %}
{% assign cta_url = section.settings.cta_url %}
{% assign box_title = section.settings.box_title %}
{% assign box_content = section.settings.box_content %}

<div class="container">
  <div class="wrap">
    <div class="intro">
      <h2 class="h1 big title">{{title | newline_to_br}}</h2>
      {% if cta_label != blank and cta_url != blank %}
        <a href="{{cta_url}}" class="arrow-link">
          {{cta_label}}
          <svg class="arrow"><use xlink:href="#icon-link"></use></svg>
        </a>
      {% endif %}
    </div>
    <div class="image">
      <div class="spacer">
        {% if image != blank %}
          <img
            src="{{ image | img_url: '1600x800' }}"
            alt="{{ image.alt | escape }}"
            loading="lazy"
            width="1600"
            height="800"
          >
        {% endif %}
      </div>
    </div>
    {% if box_title != blank and box_content != blank %}
      <div class="box-wrap">
        <div class="box">
          <h3 class="h3 box-title">{{box_title}}</h3>
          {{box_content}}
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Outro pagina",
  "tag": "div",
  "class": "main-section section-outro section-painted",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Titolo"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Immagine",
      "info": "Dimensioni consigliate: 1600x800"
    },
    {
      "type": "header",
      "content": "Call to action"
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "Testo"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Url"
    },
    {
      "type": "header",
      "content": "Box"
    },
    {
      "type": "text",
      "id": "box_title",
      "label": "Titolo"
    },
    {
      "type": "richtext",
      "id": "box_content",
      "label": "Testo"
    }
  ],
  "presets": [
    {
      "name": "Outro Pagina"
    }
  ]
}
{% endschema %}
